* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
}

img {
    border-radius: 3px;
}

a {
    color: inherit; /* or color: transparent; */
    text-decoration: none;
}

section {
    background-color: #FAFAFA;
}

.header-container,
.logo-container,
.nav-bar {
    display: flex;
}

.header-container {
    justify-content: space-between;
    min-width: 300px;
    /* border: 5px solid pink; */
    padding: 1.125em 1.5em 1.125em 1.25em;
    background-color: #ffffff;
}

.logo-container {
    /* justify-content: start; */
    align-items: center;
    font-family: roboto;
    font-weight: 700;
    gap: 3.1px;
    /* border: 3px solid red; */
}

.logo-img {
    font-size: 1.4375rem;
}

.logo-title {
    font-size: 0.875rem;
}

.nav-bar {
    list-style-type: none;
    /* border: 3px solid green; */
    justify-content: space-between;
    padding-left: 0;
    gap: 24px;
}

.nav-home,
.nav-me {
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
}

/*----- BODY -----*/
.main-page {
    display: grid;
    color: #151515;
    grid-template-columns: 1.25em minmax(320px, 1fr) 1.25em;
    grid-template-rows: 1.625em auto 1.6875em auto auto 3.125em auto 2.8125em;
    grid-template-areas:
    ". main-img ."
    ". greeting ."
    ". intro ."
    ". main-content .";
}

.main-img,
.greeting,
.intro,
.main-content {
    grid-column: 2 / -2;
}

.main-img,
.greeting,
.intro,
.question-1,
.question-2,
.answer-1,
.answer-2 {
    margin: 0;
}

.intro,
.question-1,
.question-2,
.answer-1,
.answer-2 {
    font-weight: 400;
}

.main-img {
    grid-area: "main-img";
    grid-row: 2;
    width: 182px;
    height: 182px;
    border-radius: 50%;
}

.greeting {
    grid-area: "greeting";
    grid-row: 4;
    font-weight: 700;
}

.intro {
    grid-area: "intro";
    grid-row: 5;
    margin-top: 1em;
}

.main-content {
    grid-area: "main-content";
    grid-row: 7;
}

.question-1,
.question-2 {
    font-weight: 700;
}

.answer-1,
.answer-2 {
    margin-top: 1.25em;
}

.question-2 {
    margin-top: 1.25em;
}

/*----- RECENT BLOG ------*/
.blog-container {
    display: grid;
    line-height: 1.25;
    grid-template-columns: 1.25em minmax(374px, 1fr) 1.25em;
    grid-template-rows: 2.5625em auto minmax(232px, auto) repeat(3, auto);
    grid-template-areas:
    ". image ."
    ". date ."
    ". title ."
    ". content .";
}

.date,
.title,
.content,
.recent-title {
    margin: 0;
}

.recent-title { 
    font-weight: 700;
    text-align: center;
}

.blog-img {
    width: 100%;
    grid-area: "image";
    grid-column: 2 / -2;
    grid-row: 3;
    margin-bottom: 0.875em;
    border-radius: 3px;
}

.date {
    grid-area: "date";
    grid-column: 2 / -2;
    grid-row: 4;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.875rem;
}

.title {
    grid-area: "title";
    grid-column: 2 / -2;
    grid-row: 5;
    margin-top: 0.375em;
    color: #141414;
    font-weight: 700;
}

.content {
    grid-area: "content";
    grid-column: 2 / -2;
    grid-row: 6;
    margin-top: 0.5625em;
    color: #505050;
    font-weight: 400;
}

/*----- Copy right section ------*/
.copy-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 2.3125em 0;
    margin-top: 3.5em;
}

.cp-1,
.cp-2 {
    margin: 0;
    font-size: 0.75rem;
}

.cp-1 {
    color: #ECECEC;
    font-weight: 700;
    /* padding-top: 3.083em; */
    /* margin-top: 3.083em; */
}

.cp-2 {
    color: #D7D7D7;
    font-weight: 400;
    margin-top: 0.25em;
}

/*----- MEDIA QUERY -----*/
@media (min-width: 768px) {
    .header-container {
        padding: 1.125em 3.3125em 1.125em 3.3125em;
    }

    .logo-img {
        font-size: 1.875rem;
    }

    .logo-title {
        font-size: 1.25rem;
    }

    .main-date {
        font-size: 1rem;
    }

    .nav-home,
    .nav-me {
        font-size: 1rem;
    }

    .main-page {
        display: grid;
        color: #151515;
        grid-template-columns: 3.3125em minmax(309px, 1fr) 3.3125em;
        grid-template-rows: 5.875em auto 1.6875em auto auto 3.125em auto 2.8125em;
        grid-template-areas:
        ". main-img ."
        ". greeting ."
        ". intro ."
        ". main-content .";
    }

    .main-img {
       
    }

    .main-content {
        margin: 0 7.5625em;
        max-width: 1000px;
    }

    .greeting {
        font-size: 2.25rem;
        margin: 0 1.472em 0 6.2em;
    }

    .main-img {
        grid-row: 2;
    }

    .intro {
        margin: 6em 3.3125em 0 14em;
    }
    
    .greeting,
    .intro {
        grid-row: 2;
        max-width: 900px;
    }
    
    .blog-container {
        display: block;
    }

    .recent-blog {
        display: grid;
        margin: 3.3125em 3.3125em 0 3.3125em;
        grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
        grid-gap: 1.625em;
    }
}